* {
    border: none;
    border-radius: 25px; /* Increased rounding */
    /* font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK; */
    padding-left: 6px; 
    
    font-family: "Maple Mono SC NF";
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0, 0.6); /*Removed blur */

    
    /*filter: blur(4px);*/
    /*background : transparent;*/
    /*border-bottom: 1px solid #0c0e0f;*/
    margin-bottom: 4px;
    margin-top: -4px;
    color: #cdd6f4;
}

#workspaces {
    background: #0c0e0f;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 15px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 15px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 15px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: #cdd6f4;
    color: #cdd6f4;
    border-radius: 15px;
    min-width: 50px;
    background-size: 400% 400%;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher {
    background-color: #0c0e0f;
    /*background: transparent;*/
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: solid 0px #f4d9e1;
}

#custom-date {
    color: #D3869B;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    border-radius: 25px; /* Rounded */

    margin: 7px 6px 7px 3px;
    padding-left: 5px;
    padding-right: 5px;

}

#tray {
    background-color: #0c0e0f;
    
    margin-top: 7px;
    margin-bottom: 7px;
    
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: #cdd6f4;
    background-color: #091d27;
    border-radius: 15px; /* Rounded all corners */
    
    padding-left: 10px;
    padding-right: 12px;

	margin-top: 6px;
	margin-bottom: 6px;

    font-weight: bold;
}

#battery {
	background-color: #0c0e0f;
    color: #9ece6a;
    font-weight: 900; /* Increased font weight */
}

#battery.charging {
    color: #26C6DA;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 15px;
}

#network, #pulseaudio, #custom-randwall, #custom-launcher, #custom-playerctl, #custom-playerlabel, #window, #custom-wf-recorder, #cpu, #memory, #disk, #custom-hyprpicker, #custom-notifications {
    /*border-radius: 15px;*/
    background-color: #0c0e0f;
    
    padding-left: 10px;
    padding-right:10px;

	margin-top: 7px;
	margin-bottom: 7px;

}

